{% extends "base.html" %}
{% block content %}

<h2>Edit Committee</h2>

<form method="POST" action="/update/{{ data['id'] }}">
    <input class="form-control mb-2" name="subject" value="{{ data['subject'] }}" required>
    <input class="form-control mb-2" name="reference_no" value="{{ data['reference_no'] }}" required>
    <input class="form-control mb-2" type="date" name="date" value="{{ data['date'] }}" required>
    <input class="form-control mb-2" name="convener" value="{{ data['convener'] }}">
    <input class="form-control mb-2" name="member1" value="{{ data['member1'] }}">
    <input class="form-control mb-2" name="member2" value="{{ data['member2'] }}">
    <input class="form-control mb-2" name="member3" value="{{ data['member3'] }}">
    <input class="form-control mb-2" name="secretary" value="{{ data['secretary'] }}">

    <button class="btn btn-success">Update</button>
</form>

{% endblock %}
