{% extends "base.html" %}
{% block content %}

<h2>Add Committee</h2>

<form method="POST">
    <input class="form-control mb-2" name="subject" placeholder="Subject" required>
    <input class="form-control mb-2" name="reference_no" placeholder="Reference No" required>
    <input class="form-control mb-2" type="date" name="date" required>
    <input class="form-control mb-2" name="convener" placeholder="Convener">
    <input class="form-control mb-2" name="member1" placeholder="Member 1">
    <input class="form-control mb-2" name="member2" placeholder="Member 2">
    <input class="form-control mb-2" name="member3" placeholder="Member 3">
    <input class="form-control mb-2" name="secretary" placeholder="Secretary">

    <button class="btn btn-primary">Save</button>
</form>

{% endblock %}
